spring:
  datasource:
    url: jdbc:h2:mem:wedding_dev;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    open-in-view: false
  flyway:
    enabled: false
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    com.wedding.api: DEBUG
    org.springframework.web: DEBUG
