spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true

logging:
  level:
    com.wedding.api: INFO
    org.springframework.web: WARN

server:
  error:
    include-stacktrace: never
